aiohttp
aiosignal
attrs
chardet
charset-normalizer
disnake
dnspython
emoji
ffmpeg-python
frozenlist
future
idna
imageio-ffmpeg
install
loguru
multidict
numpy
python-dotenv
setuptools
tomli
typing_extensions
win32-setctime
yarl
discord.py